@import '../global.scss';

.playersCard {
    border: 1px solid $white;
    cursor: pointer;
    padding: 20px;

    &.disabled {
        cursor: not-allowed;
        border: 1px solid $white;
        opacity: 0.5;
    }
}