@import '../global.scss';

.intro-container {
    text-align: center;
    display: flex;
    flex-direction: column;

    h1 {
        margin: 0.25em 0em;
    }
    p {
        margin-bottom: 2em;
    }

    .easterEggInput {
        margin-bottom: 2em;
        background-color: transparent;
        color: $white;
        // height: 20px;
        font-size: 1.2rem;
        padding: 1em;
        border: 1px solid $light-blue;
    }
    .version {
        margin-top: 5em;
        font-size: 1rem;
    }
}