@import "../global.scss";

.setting-container {
  text-align: center;
  display: flex;
  flex-direction: column;

  .setting-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .player-num {
      margin: 1em;
    }
    .spy-mode {
      margin-top: 4rem;
      .spyNumSelect {
        &.disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }

      .spy-num {
        margin-top: 2rem;
        select {
          width: 100px;
        }
      }
    }
  }

  .theme-select {
    margin: 1em;
  }
}
